doc/readme.4tc
doc/readme.4ct
doc/readme.aux
doc/readme.dvi
doc/readme.idv
doc/readme.lg
doc/readme.log
doc/readme.tmp
doc/readme.xref

*.m4
autom4te.cache/
configure
Makefile.in
install-sh
missing
Makefile
config.log
config.status
