doc/readme.4tc
doc/readme.4ct
doc/readme.aux
doc/readme.dvi
doc/readme.idv
doc/readme.lg
doc/readme.log
doc/readme.tmp
doc/readme.xref

aclocal.m4     
*.log     
configure     
missing
*.cache  
*.status
install-sh  
Makefile  
Makefile.in
